{% extends 'index/base.html' %}

{% block body %}

    <style>

        .feature-card {
            margin: 150px 300px;

        }

    </style>

    <div class="container-fluid feature-card">

        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>Présentation de l’application </h5>
                </div>
                <div class="card-block">
                    <p class="card-text">
                      ChartDraw est une petite application Web pour manipulation de données. Elle a pour but d’effectuer des calculs statistiques et d’afficher les graphes correspondants. Elle aide ainsi les data analystes à mieux interpréter les données. Son avantage est la possibilité de traiter une large dataset en ligne sans devoir installer aucun logiciel.
                    </p>
                    <p class="card-text">
                      Donc c'est mieux d'utiliser ChartDraw. Il est en version alpha pour le moment. Et n'hesiter pas a nous envoyer vos commentaire ou remarque.
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}