{% extends 'index/base.html' %}

{% block body %}


    <div class="container-fluid">
        <div class="container-upload">
            <div class="col-md-4 col-sm-6 offset-md-4 offset-sm-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="fileName">Nommer votre fichier: </label>
                        <input type="text" class="form-control" id="fileName" name="fileName"
                               placeholder="Nom du fichier">
                    </div>
                    <br>

                    <div class="form-group">
                        <input type="file" class="form-control-file" id="fileInput" name="myfile"
                               aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">
                            Selectioner un type de fichier puis télécharger le.
                        </small>
                    </div>

                    <br>

                    <button type="submit" class="btn btn-info btn-lg btn-block my-btn">Upload a file</button>
                </form>


            </div>
        </div>
    </div>

{% endblock %}